<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指定映射接口 -->
<mapper namespace="cn.appsys.dao.dev_User.UserMapper">
	<!-- 查询用户表记录数 -->
	<select id="deng" resultType="pojo.User">
		SELECT * FROM dev_user 
		WHERE devCode=#{devCode} AND devPassword=#{devPassword}
	</select>
</mapper>